/* ====================== General */

body {
  background-color: #e6ecf0;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  }

.main {
  color: #66757f;
}

body.error-404 {
  background-color: #1da1f2;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

/* ======================= Nav */

.box {
  width: 100%;
  height: 300px;
  border: 5px dashed #f7a239;
}

.navbar a:hover {
  color: #1c94e0;
}

.box1 {
  display: flex;
  justify-content: center;
}

.evt_lst {
  border: 5px dashed #f7a239;
}


.lst_item {
  align-items: center;
  border: 5px dashed greenyellow;
}

.lst_item1 {
  align-items: right;
  border: 5px dashed yellow;
}

span {
  font-size: 0.75em;
}

.orange { 
  color: orange; 
} 

.green { 
  color: green; 
} 

.blue { 
  color: blue; 
} 
