{% extends 'base.html' %}
{% block content %}
  <div class="box1 mt-5">
    <img src="/static/images/cost-sharing.png" width="250" height="250" alt="Example image"/>
  </div>
  <div class="center mt-5 mb-4">
    
    <h4> The CostTracker app computes and splits your travel/restaurant expenses among friends</h4>
    <div align="center" class= "box2 mt-4">
      <a  href="/signup">Sign Up</a> with venmo username and any password of your choice<br><br>
      <h6>Add new Events</a>, enter your expenses and compute your cost</h6>
      <h6>Make payments through Venmo API<h6>
    </div>
  </div>

{% endblock %}